# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# ==========================================
# Environment variables
# ==========================================

.env
.env.*

# ==========================================
# Node / React
# ==========================================

node_modules/
dist/
build/
.vite/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Excel / temporary files
# ==========================================

~$*.xlsx
~$*.xls

# ==========================================
# ZIP files
# ==========================================

*.zip

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# Visual Studio
.vs/

# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db